<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'about.css'%}">
</head>
<body>
    <div clas="container">
        <nav>
            <a href="home">Home</a>&emsp;&emsp;&emsp;&emsp;
            <a href="about">About</a>&emsp;&emsp;&emsp;&emsp;
            <a href="contact">Contact</a>&emsp;&emsp;&emsp;&emsp;
            <a href="menu">Menu</a>&emsp;&emsp;&emsp;&emsp;
        </nav>
    </div>
    <center><div class="abo">
        <h1 style="color:rgb(220, 21, 21);font-size: 50px; font-style: italic;">About Us</h1>
        <pre><p id="par">  Pizza is all about quality you can trust. As one of the original founding 
        Pizza brands and the 3rd largest Pizza chain in India, our sole 
        mission is making the freshest, 
        tastiest and cheesiest Pizza.

 Our classic pan pizza will always be a fan favourite, with a soft and 
    chewy crust perfectly balancing out the healthy tomato pure 
    and mozzarella - cheddar blended 
    cheese.

Our authentic Italian crust for those who would prefer a light and 
airy crust to more fully enjoy the toppings. Thin, light 
and delicious.
            
Our newest addition of Puree sauces will blow your mind. Chose between 
a spicy & sweet bbq, tangy chipotle can creamy makhni to perfectly 
compliment your toppings and crust. Our suggestions of 
combinations might be helpful but ultimately 
the power lies with you.

<h1 class="la">"Thank you for visting"</h1>

</div></center>
    
</body>
</html>