<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base.css'%}">
</head>
<body>
    <div clas="container">
        <nav>
            <a href="home">Home</a>&emsp;&emsp;&emsp;&emsp;
            <a href="about">About</a>&emsp;&emsp;&emsp;&emsp;
            <a href="contact">Contact</a>&emsp;&emsp;&emsp;&emsp;
            <a href="menu">Menu</a>&emsp;&emsp;&emsp;&emsp;
        </nav>
    </div>
    <center><div class="p">
        <pre><h1>   THIN
    CRUST PIZZA
        </h1></pre>
    </div>
    <div>
        <a href="menu"><input type="button" name="" id="m" value="Let me see menu"></a>
    </div></center>

    <h1 class="o">Opens at 10:00 am to 10:00pm</h1>

    
</body>
</html>
