<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'menu.css'%}">
</head>
<body>
    <div clas="container">
        <nav>
            <a href="home">Home</a>&emsp;&emsp;&emsp;&emsp;
            <a href="about">About</a>&emsp;&emsp;&emsp;&emsp;
            <a href="contact">Contact</a>&emsp;&emsp;&emsp;&emsp;
            <a href="menu">Menu</a>&emsp;&emsp;&emsp;&emsp;
        </nav>
    </div>
    <center><div id="class">
        <h1 id="h">The Menu </h1><br>
        <center><input type="text" placeholder="Search.." style="color:black;background-color: white;width:300px;height:30px;"></center><br><br>
        <div id="non">
        <img src="../static/nonveg.webp" alt="">
        <h2>Chicken Pizza</h2>
        <h1>250 &emsp;<span style="color:orange">&#8902;</span>
            <span style="color:orange">&#8902;</span>
            <span style="color:orange">&#8902;</span>
            <span style="color:orange">&#8902;</span>
            <span style="color:black">&#8902;</span>
        </h1>
        <button>ordernow</button>
        </div>
        <div id="non1">
            <img src="../static/extraspie.jpg" alt="" style="width:150px;">
            <h2>Chicken Pizza with extra speices</h2>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non2">
            <img src="../static/Chicken-Tikka-Pizza.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Chicken-Tikka-Pizza</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div><br><br>
        <div style="background-color: black;width:100px;height:100px;"></div><br><br>
        <div id="non3">
            <img src="../static/classic-chicken-salad.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Classic-Chicken-Salad</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non4">
            <img src="../static/Cobb-Salad_0.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Cobb-Salad</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non5">
            <img src="../static/Walnut Chicken Waldorf Salad.png" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Walnut Chicken Waldorf Salad</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non6">
            <img src="../static/MANCHOW-SOUP-.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>MANCHOW-SOUP(chicken)</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non7">
            <img src="../static/khadyaa.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Khadyaa(Mutton)</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div> <div id="non8">
            <img src="../static/Bawarchee.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Bawarchee</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non9">
            <img src="../static/majestic.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Majestic</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non10">
            <img src="../static/angara-kabab.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Angara-Kabab</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non11">
            <img src="../static/lollipop.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Lollipop</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non12">
            <img src="../static/nuggets.png.crdownload" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Nuggets</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non12">
            <img src="../static/Tandoori.jpg" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Tandoori</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="non12">
            <img src="../static/Gigg's.jpg.crdownload" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Gigg's Meet</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="veg1">
            <img src="../static/cheese pizza.jpg.crdownload" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Cheese Pizza</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        <div id="veg1">
            <img src="../static/Vege.jpg.crdownload" alt="" style="width:150px;height:200px;"><br><br>
            <h2>Vege Pizza</h2><br>
            <h1>250 &emsp;<span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:orange">&#8902;</span>
                <span style="color:black">&#8902;</span></h1>
            <button>ordernow</button>
        </div>
        




        </div>
    </div></center>
</body>
</html>